/* RESET ESTILOS */

* {
    margin: 0;
    padding: 0;
}

/* ESTILOS BASE */

h2 {
    margin-bottom: 1rem;
}

/* ESTILOS HEADER */
header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}

header p {
    font-weight: 600;
    font-size: 1.25rem;
}

/* ESTILOS NAV */
nav {
    background-color: grey;
    padding: 16px 0;
}

nav ul {
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    list-style: none;
    color: white;
    font-weight: 600;
}

/* ESTILOS MAIN */

main {
    width: 80%;
    margin: auto;
    padding: 50px 0;
}

/* SECCIONES DE MAIN */

main > section {
    padding-bottom: 30px;
}

/* ESTILOS PROYECTOS */

.proyecto {
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

.proyecto h3 {
    margin-bottom: 16px;
    text-decoration: underline;
}

.proyecto figure {
    border: 2px silver solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin-bottom:8px;
}

.proyecto img {
    max-width: 220px;
    max-height: 150px;
}

.proyecto figcaption {
    background-color: #222222;
    color: white;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.contenedor-btn {
    padding: 20px 0px;
}

.btn-proyecto {
    background-color: #222222;
    color: white;
    text-decoration: none;
    padding: 4px 8px;
}
